.formfields_container h2 {
    font-size: 32px!important;
    text-transform: uppercase;
}

p.account_info {
    text-transform: none;
    border-bottom: 3px solid #c8cbcc;
    padding: 0 0 12px;
    margin: 0 0 24px;
    font-size: 16px;
    font-weight: 700;
    max-width: 690px!important;
}
form p {
    text-transform: none;
    font-weight: normal;
}
form p {
    line-height: normal;
}
.formfield_onerow {
    overflow: hidden;
    margin: 0 0 15px 0;
}

#profile_customer_firstname, 
#profile_customer_lastname, 
#profile_customer_email, 
#profile_login_oldpassword,
#profile_login_newpassword,
#profile_login_newpasswordconfirm {
    width: 480px;
    height: 40px;
    padding: 12px 7px 8px 7px;
    border: 1px solid #c8cbcc;
    font-size: 12px;
    line-height: 18px;
}
input[type="text"], input[type="email"], input[type="password"], textarea, select {
    outline: none;
}

.formfield.birthday>label, .formfield.gender>label {
    display: block;
}
.formfield label {
    cursor: auto;
}
.formfield label {
    text-transform: uppercase;
    font-size: 11px;
    font-family: 'adiHaus',Arial,Helvetica,Verdana,sans-serif;
    margin: 0 0 2px 0;
    display: block;
    color: #9a9b9b;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
}
.ffSelect > a {
    display: block;
    text-decoration: none;
    outline: 0;
    /* cursor: default; */
    padding: 11px 10px 9px 10px;
    border: 1px solid #c8cbcc;
}
.ffSelect > a > span {
    display: block;
    height: 18px;
    margin-right: 30px;
    background-position: 0 0;
    overflow: hidden;
    line-height: 18px;
    font-size: 14px;
    font-weight: bold;
    text-transform: none;
    color: #555;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.ffSelect > a:after {
    content: "\e630";
    position: absolute;
    top: 14px;
    right: 12px;
    display: block;
    font-family: 'icomoon';
    speak: none;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.floated-popup {
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    margin: 16px 0 0 5px;
    border: 1px solid #c8cbcc;
    border-radius: 10px;
    vertical-align: top;
}
.floated-popup .showdialog:after {
    content: "\e60e";
    position: absolute;
    top: 5px;
    left: 4px;
    width: 10px;
    height: 10px;
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    font-size: 10px;
    color: #000;
}
.gender_checkboxes {
    margin: 10px 0 0 0;
}
.ffRadioWrapper.on span {
    font-weight: bold;
}
.ffRadioWrapper span {
    text-decoration: none;
    color: #363738;
    position: relative;
    top: 1px;
    font-size: 14px;
    padding-left: 30px;
    margin-right: 10px;
    cursor: pointer;
}
form span {
    line-height: normal;
    text-transform: none;
    font-weight: normal;
}
.formfield {
    margin-bottom: 15px;
}
.ffRadioWrapper {
    display: inline-block;
}
.ffTextBoxWrapper, .ffPasswordWrapper, .ffCheckboxWrapper, .ffRadioWrapper, .ffTextAreaWrapper, .ffSubmitWrapper, .ffResetWrapper, .ffButtonWrapper {
    position: relative;
    zoom: 1;
}
.ffRadioWrapper.on span {
    font-weight: bold;
}
.ffRadioWrapper span {
    text-decoration: none;
    color: #363738;
    position: relative;
    top: 1px;
    font-size: 14px;
    padding-left: 30px;
    margin-right: 10px;
    cursor: pointer;
}
form span {
    line-height: normal;
    text-transform: none;
    font-weight: normal;
}
form span, form p {
    margin-top: 0;
    margin-bottom: 0;
    
    font-weight: bold;
    line-height: 40px;
}
.formfield {
    margin-bottom: 15px;
}

.change_password {
    display: inline-block;
    margin: 12px 0 0 0;
    cursor: pointer;
}
#calculate>div.line-default-light.divider-hor-top {
    margin: 0 0 15px 0;
}
.divider-hor-top {
    border-bottom: none;
    border-left: none;
    border-right: none;
}
.line-default-light {
    border: 2px solid #c8cbcc;
}

form span {
    line-height: normal;
    text-transform: none;
    font-weight: normal;
}

form span, form p {
    margin-top: 0;
    margin-bottom: 0;
    
    font-weight: bold;
    line-height: 40px;
}
.formactions {
    clear: both;
    margin-bottom: 15px;
    overflow: hidden;
}
.formactions .btn_primary:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #025f8e;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#pisubmitid {
    height: 48px;
    width: 350px;;
    content: "";

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0286cd;
    position: relative;
}
#pisubmitid:hover {
    background: #025f8e;
}
#pi_delete_button {
    height: 48px;
    width: 350px;;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    position: relative;
}
#pi_delete_button:hover {
    background: #363738;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#pisubmitid>span {
    text-transform: uppercase;
}
.formactions button.btn_primary span {
    padding-right: 0!important;
}



*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.formactions button.btn_primary span {
    padding-right: 0!important;
}
.formactions .btn_primary span {
    line-height: 100%;
    padding: 14px 26px 14px 0!important;
    vertical-align: top;
}
.formactions .btn_primary span {
    line-height: 100%;
    padding: 14px 26px 14px 0!important;
    vertical-align: top;
}
.formactions button span {
    color: #fff;
    position: relative;
    font-size: 15px;
    line-height: normal;
    text-transform: uppercase;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*****************************************************************************/

.alert {
    margin-bottom: 30px;
}
#login-warning-alert {
    margin: 18px 0;
}
.alert.alert-warning {
    border-color: #ffb600;
    background: #fff9ca;
}
.alert {
    width: 950px;
    margin: 5px auto!important;
    padding: 16px 24px 16px 52px;
    border: 0;
    border-left: 3px solid;
    border-radius: 0;
    color: #000;
    position: relative;
}

.alert.alert-warning:after {
    color: #ffb600;
    content: "\26A0";
}
.alert:after {
    z-index: 1;
    top: 14px;
    left: 16px;
    font-size: 24px;
    position: absolute;
    display: block;
    font-family: 'icomoonregular';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.alert.title-only .alert-title {
    margin-top: 2px;
    margin-bottom: 0;
}
.alert .alert-title {
    
    font-size: 16px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

/*************************/


.pesonal_info_modal .remove_pop_up {
    width: 425px!important;
    padding: 20px!important;
}
.registration .remove_pop_up {
    bottom: 21px;
    
    left: 190px;
    position: absolute;

    z-index: 1002;
}
.ui-dialog {
    background-color: #fff;
 
    height: auto!important;
    padding: 20px 20px 0!important;

    box-shadow: 0 0 20px #404040;
}
div {
    margin: 0;

    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
#deleteAccount h4 {
    font-weight: bold;
    margin: 0 0 4px;
}
h4, .title-22 {
    font-size: 22px!important;
    line-height: 90%!important;
}
h4 {
    text-transform: uppercase !important;
}
h1, h2, h3, h4, h5, h6, p {
    clear: both;
}
.pesonal_info_modal .remove_pop_up p {
    font-size: 14px!important;
    letter-spacing: .25px!important;
    line-height: 1.5!important;
}
form p {
    text-transform: none;

}
form span, form p {
    margin-top: 0;
    margin-bottom: 0;
}

#deleteAccount button {
    position: relative;
    display: block;
    font-weight: bold;
    line-height: 12px;

    border: 0;
    cursor: pointer;
    color: #fff;
    font-family: 'adiHaus',Arial,Helvetica,Verdana,sans-serif;

    height: 34px;
    margin-bottom: 12px;
}

.pesonal_info_modal .remove_pop_up button.btn_primary {
    padding: 0!important;
    width: 100%!important;
}
.btn_primary_black {
    margin-top: 20px;
    background: #000!important;
}
.btn_primary_black:hover {
    background: #363738!important;
}
#deleteAccount button {
    position: relative;
    display: block;
    font-weight: bold;
    line-height: 12px;
    background-color: #0286cd;
    border: 0;
    cursor: pointer;
    color: #fff;
    font-family: 'adiHaus',Arial,Helvetica,Verdana,sans-serif;
    padding: 10px 26px 8px 10px;
    height: 34px;
    margin-bottom: 12px;
}

#deleteAccount button:hover {
    background: #025f8e;
}

/************************************************/





.contentasset {
    padding: 10px 0px 0px 0px;
}

.btn_primary span 
{
    font-size: 16px;
    font-weight: bold;
    
}


 