<% provide(:title, "News") %>
<!-- Title Page -->
	<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-image: url(/assets/images/heading-pages-05.jpg);">
		<h2 class="l-text2 t-center">
			Blog
		</h2>
	</section>

	<!-- content page -->
	<section class="bgwhite p-t-60">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-lg-9 p-b-75">
					<div class="p-r-50 p-r-0-lg">
						<!-- item blog -->
						<div class="item-blog p-b-80">
							<a href="blog-detail.html" class="item-blog-img pos-relative dis-block hov-img-zoom">
								<img src="/assets/images/blog-04.jpg" alt="IMG-BLOG">

								<span class="item-blog-date dis-block flex-c-m pos1 size17 bg4 s-text1">
									28 Dec, 2018
								</span>
							</a>

							<div class="item-blog-txt p-t-33">
								<h4 class="p-b-11">
									<a href="blog-detail.html" class="m-text24">
										Black Friday Guide: Best Sales & Discount Codes
									</a>
								</h4>

								<div class="s-text8 flex-w flex-m p-b-21">
									<span>
										By Admin
										<span class="m-l-3 m-r-6">|</span>
									</span>

									<span>
										Cooking, Food
										<span class="m-l-3 m-r-6">|</span>
									</span>

									<span>
										8 Comments
									</span>
								</div>

								<p class="p-b-12">
									Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce eget dictum tortor. Donec dictum vitae sapien eu varius
								</p>

								<a href="blog-detail.html" class="s-text20">
									Continue Reading
									<i class="fa fa-long-arrow-right m-l-8" aria-hidden="true"></i>
								</a>
							</div>
						</div>

						<!-- item blog -->
						<div class="item-blog p-b-80">
							<a href="blog-detail.html" class="item-blog-img pos-relative dis-block hov-img-zoom">
								<img src="/assets/images/blog-05.jpg" alt="The White Sneakers Nearly Every Fashion Girls Own">
              <span class="item-blog-date dis-block flex-c-m pos1 size17 bg4 s-text1">
                <time datetime="2017-12-28 14:08:00 -0500">28 Dec, 2017</time>
              </span>               
            </a>
            
            <div class="item-blog-txt p-t-33">
              <h4 class="p-b-11">
                <a href="/blogs/news/the-white-sneakers-nearly-every-fashion-girls-own" class="m-text24">
                  The White Sneakers Nearly Every Fashion Girls Own
                </a>
              </h4>
              <div class="s-text8 flex-w flex-m p-b-21">
                <span>
                  by fashe-theme Admin
                  <span class="m-l-3 m-r-6">|</span> 
                </span>
                <span>
                  

	<a href="/blogs/news/tagged/crafts">crafts</a>,

	<a href="/blogs/news/tagged/street-style">street style</a>


                  <span class="m-l-3 m-r-6">|</span> 
                </span>
                <span>
                  0 Comments
                </span>
              </div>
              <p class="p-b-12">
                
                Duis ut velit gravida nibh bibendum commodo. Sus-pendisse pellentesque mattis augue id euismod. Inter-dum et malesuada fames
                   
              </p>
              <a href="/blogs/news/the-white-sneakers-nearly-every-fashion-girls-own" class="s-text20">
                Continue Reading
                <i class="fa fa-long-arrow-right m-l-8" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          
        </div>
        
        <!-- Pagination -->
<div class="pagination flex-m flex-w p-t-26" id="pagination">
  
  
  
  
  
  
  <a class="item-pagination flex-c-m trans-0-4 active-pagination" href="#" title="">
    1</a>
  
  
  
  
  <a class="item-pagination flex-c-m trans-0-4" href="/blogs/news?page=2" title="">2</a>
  
  
  
  <a class="item-pagination flex-c-m trans-0-4" href="/blogs/news?page=2" title="Next &raquo;">
    &gt;
  </a>
  
  
</div>
        
      </div>
      <div class="col-md-4 col-lg-3 p-b-75">
  <div class="rightbar">
    <!-- Search -->
    <div class="pos-relative bo11 of-hidden">
      <form action="/search" method="POST" role="search" id="blog-search">
        <input type="hidden" name="type" value="product">
        <input class="s-text7 size16 p-l-23 p-r-50" autocomplete="off" type="text" name="q" value="" placeholder="Search all articles..." aria-label="Search all articles...">
        <button class="flex-c-m size5 ab-r-m color1 color0-hov trans-0-4">
          <i class="fs-13 fa fa-search" aria-hidden="true"></i>
        </button>
      </form>
    </div>

    
    <!-- Featured Products -->
    <h4 class="m-text23 p-t-65 p-b-34">
      Featured Products
    </h4>
    <ul class="bgwhite">
      
      
      







<!-- Block2 -->
<li class="flex-w p-b-20">
  <a href="/products/boxy7-t-shirt-with-roll-sleeve" class="dis-block wrap-pic-w w-size22 m-r-20 trans-0-4 hov4">
    <img class="" src="//cdn.shopify.com/s/files/1/2672/5778/products/item-15_7ca55ba5-301e-4461-92ea-68c8b02e35e7_90x120.jpg?v=1515096104" alt="Boxy7 T-Shirt with Roll Sleeve">
  </a>
  <div class="w-size23 p-t-5">
    <a href="/products/boxy7-t-shirt-with-roll-sleeve" class="s-text20">
      Boxy7 T-Shirt with Roll Sleeve
    </a>
    
    <span class="dis-block s-text17 p-t-6">
      <span class=money>$20.00</span>
    </span>
    
  </div>
</li>
      
      







<!-- Block2 -->
<li class="flex-w p-b-20">
  <a href="/products/boxy6-t-shirt-with-roll-sleeve" class="dis-block wrap-pic-w w-size22 m-r-20 trans-0-4 hov4">
    <img class="" src="//cdn.shopify.com/s/files/1/2672/5778/products/item-13_d77ff6ee-7735-4f22-a436-1ac6b9ccabd6_90x120.jpg?v=1515096032" alt="Boxy6 T-Shirt with Roll Sleeve">
  </a>
  <div class="w-size23 p-t-5">
    <a href="/products/boxy6-t-shirt-with-roll-sleeve" class="s-text20">
      Boxy6 T-Shirt with Roll Sleeve
    </a>
    
    <span class="dis-block s-text17 p-t-6">
      <span class=money>$20.00</span>
    </span>
    
  </div>
</li>
      
      







<!-- Block2 -->
<li class="flex-w p-b-20">
  <a href="/products/boxy5-t-shirt-with-roll-sleeve" class="dis-block wrap-pic-w w-size22 m-r-20 trans-0-4 hov4">
    <img class="" src="//cdn.shopify.com/s/files/1/2672/5778/products/item-04_bcfb0f5a-4eff-46f0-992d-b73eb1b4b88e_90x120.jpg?v=1515095994" alt="Boxy5 T-Shirt with Roll Sleeve">
  </a>
  <div class="w-size23 p-t-5">
    <a href="/products/boxy5-t-shirt-with-roll-sleeve" class="s-text20">
      Boxy5 T-Shirt with Roll Sleeve
    </a>
    
    <span class="dis-block s-text17 p-t-6">
      <span class=money>$20.00</span>
    </span>
    
  </div>
</li>
      
      







<!-- Block2 -->
<li class="flex-w p-b-20">
  <a href="/products/boxy4-t-shirt-with-roll-sleeve" class="dis-block wrap-pic-w w-size22 m-r-20 trans-0-4 hov4">
    <img class="" src="//cdn.shopify.com/s/files/1/2672/5778/products/item-11_fa17bbd7-4f67-488d-930a-f5e6ece4e595_90x120.jpg?v=1514273806" alt="Boxy4 T-Shirt with Roll Sleeve">
  </a>
  <div class="w-size23 p-t-5">
    <a href="/products/boxy4-t-shirt-with-roll-sleeve" class="s-text20">
      Boxy4 T-Shirt with Roll Sleeve
    </a>
    
    <span class="dis-block s-text17 p-t-6">
      <span class=money>$20.00</span>
    </span>
    
  </div>
</li>
      
      







<!-- Block2 -->
<li class="flex-w p-b-20">
  <a href="/products/boxy3-t-shirt-with-roll-sleeve" class="dis-block wrap-pic-w w-size22 m-r-20 trans-0-4 hov4">
    <img class="" src="//cdn.shopify.com/s/files/1/2672/5778/products/item-16_84f06345-b149-4331-9957-2d65c6b87584_90x120.jpg?v=1514273770" alt="Boxy3 T-Shirt with Roll Sleeve">
  </a>
  <div class="w-size23 p-t-5">
    <a href="/products/boxy3-t-shirt-with-roll-sleeve" class="s-text20">
      Boxy3 T-Shirt with Roll Sleeve
    </a>
    
    <span class="dis-block s-text17 p-t-6" style="text-decoration:strikethrough;">
      <span class=money>$30.00</span>
    </span>
    <span class="dis-block s-text17 p-t-6">
      <span class=money>$20.00</span>
    </span>
    
  </div>
</li>
          
    </ul>
    
    <!-- Tags -->
    <h4 class="m-text23 p-t-50 p-b-25">
      Tags Cloud
    </h4>
    <div class="wrap-tags flex-w">
      
      <a class="tag-item" href="/blogs/news/tagged/crafts">crafts</a>,
      
      <a class="tag-item" href="/blogs/news/tagged/street-style">street style</a>
      
    </div>
  </div>
</div>

    </div>
  </div>
</section>


      <!-- End Content -->  

      <!-- Quickview Product-->
<div id="quickview-wrapper">
  <!-- Modal -->
  <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="modal-product">
            <!-- Start product images -->
            <div class="product-images">
              <div class="main-image images">
                <img alt="" src="" class="img-responsive">
              </div>
            </div>
            <!-- end product images -->
            <div class="product-info">
              <h1>Sleeve High Neck Bodycon Dress </h1>
              <div class="price-box">
                <p class="price"><span class="special-price"><span class="amount">$132.00</span></span></p>
              </div>
              <a href="shop.html" class="see-all">See all features</a>
              <div class="quick-add-to-cart">
                <form class="cart" action="/cart/add" method="post" enctype="multipart/form-data" id="addToCartForm">
                  <div class="numbers-row">
                    <input type="hidden" id="id" name="id" value="" />
                    <input type="number" name="quantity" id="quantity" value="1">
                  </div>
                  <button class="single_add_to_cart_button" type="submit">Add to Cart</button>
                </form>
              </div>
              <div class="quick-desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero.
              </div>
              <div class="social-sharing">
                <div class="widget widget_socialsharing_widget">
                  <h3 class="widget-title-modal">Share this product</h3>
                  <ul class="social-icons">
                    <li><a target="_blank" title="Facebook" href="#" class="facebook social-icon"><i class="fa fa-facebook"></i></a></li>
                    <li><a target="_blank" title="Twitter" href="#" class="twitter social-icon"><i class="fa fa-twitter"></i></a></li>
                    <li><a target="_blank" title="Pinterest" href="#" class="pinterest social-icon"><i class="fa fa-pinterest"></i></a></li>
                    <li><a target="_blank" title="Google +" href="#" class="gplus social-icon"><i class="fa fa-google-plus"></i></a></li>
                    <li><a target="_blank" title="LinkedIn" href="#" class="linkedin social-icon"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- .product-info -->
          </div>
          <!-- .modal-product -->
        </div>
        <!-- .modal-body -->
      </div>
      <!-- .modal-content -->
    </div>
    <!-- .modal-dialog -->
  </div>
  <!-- END Modal -->
</div>
<!-- End Quickview Product -->  