Hi <%= @user.name %>,

Welcome to the Funny Movies App! Click on the link below to activate your account:

<a href="https://funny-movies-pied.vercel.app/account_activations/<%= @user.activation_token %>/<%= CGI.escape(@user.email) %>" target="_blank">Activate</a>
