To reset your password click the link below:

<a href="https://funny-movies-pied.vercel.app/password_resets/<%= @user.reset_token %>/<%= CGI.escape(@user.email) %>" target="_blank">Reset password</a>

This link will expire in two hours.

If you did not request your password to be reset, please ignore this email and
your password will stay as it is.
