 <p>
  <strong>Người bình luận:</strong>
  <%= comment.commenter %>
</p>

<p>
  <strong>Nội dung:</strong>
  <%= comment.body %>
</p>
<% if current_user.try(:admin?) %>
<p>
  <%= link_to 'Xóa bình luận', [comment.product, comment],
  method: :delete,
  data: { confirm: 'Bạn có chắc không?' } %>
</p>
<% end %>
