RewriteEngine On
RewriteBase /

#### PERSISTENT CONTENT ####
RewriteCond %{REQUEST_URI} \/(?:store\.log|ga_code|store\.dat|data\.json)$ [OR]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^.*$ index.php [L,QSA]
php_flag output_buffering on
