picture img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.poster_content {
    position: absolute;
    width: 420px;
    height: 400px;
    margin-left: 170px;
    margin-top: -360px;
}
.title {
    margin-bottom: 13px;
    font-size: 36px;
    clear: both;
    margin-bottom: 10px;
    font-size: 32px;
    line-height: 32px;
    color: #fff;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 0px;
}

.black {
    color: #000;
}
.summary {
    color: #fff;
    margin-bottom: 0;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

}

.poster_content_2 {
    position: absolute;
    width: 350px;
    height: 400px;
    text-align: right;
    margin-left: 820px;
    margin-top: -355px;
}
.title_2 {
    margin-bottom: 13px;
    font-size: 36px;
    clear: both;
    margin-bottom: 10px;
    font-size: 32px;
    line-height: 32px;
    color: #000;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1.5px;
}

.black_2 {
    color: #000;
}
.summary_2 {
    color: #000;
    margin-bottom: 0;
    line-height: 22px;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

}

.main___2e0dj .ctas___1lkb1.left___2fRvf .cta___3s8jP {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.main___2e0dj .cta___3s8jP {
    margin-top: 15px;
    margin-bottom: 15px;
    clear: both;
}


.gl-cta {
    line-height: normal;
    font-size: 13px;
    letter-spacing: 2px;
    font-family: AdihausDIN,Helvetica,Arial,sans-serif;
    font-weight: 700;
    position: relative;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-content: center;
    align-content: center;
    min-height: 50px;
    padding: 0 21px;
    line-height: 50px;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    transition: color .1s cubic-bezier(.3,0,.45,1),border .1s cubic-bezier(.3,0,.45,1),background .1s cubic-bezier(.3,0,.45,1),-webkit-transform .1s cubic-bezier(.3,0,.45,1);
    transition: transform .1s cubic-bezier(.3,0,.45,1),color .1s cubic-bezier(.3,0,.45,1),border .1s cubic-bezier(.3,0,.45,1),background .1s cubic-bezier(.3,0,.45,1);
    transition: transform .1s cubic-bezier(.3,0,.45,1),color .1s cubic-bezier(.3,0,.45,1),border .1s cubic-bezier(.3,0,.45,1),background .1s cubic-bezier(.3,0,.45,1),-webkit-transform .1s cubic-bezier(.3,0,.45,1);
    white-space: nowrap;
}

.gl-cta:hover {
color: #98989a;
}

.gl-cta--primary-light {
    height: 50px;
    background-color: #fff;
    color: #000;
    border-color: #fff;
}

.icon-arrow-right-long:before {
    content: "\2192";
}

[class*=" icon-"]:before, [class^=icon-]:before {
    font-family: fonticons-adidas;
    font-weight: 400;
    font-style: normal;
    speak: none;
    display: inline-block;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*, :after, :before {
    box-sizing: border-box;
}
