
.container {
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.title___37UkT {
  margin-bottom: 0;
  font-size: 26px;
  line-height: 24px;
  text-align: center;
  width: 100%;
}


.row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}

#exampleSlider {
  position: relative;

}

@media (min-width: 960px){
.exampleSlider {
    padding-left: 15px;
    padding-right: 15px;
}}

  #exampleSlider {
    margin: auto;
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

#exampleSlider .MS-content {
  margin: 15px 5%;
  overflow: hidden;
  white-space: nowrap;
}
@media (max-width: 767px) {
  #exampleSlider .MS-content {
    margin: 0;
  }
}
#exampleSlider .MS-content .item {
  display: inline-block;

  
  position: relative;
  vertical-align: top;

  border-right: none;
  width: 25%;
  height: 400px;
  padding: 20px 5px;
  box-sizing: border-box;
}

#exampleSlider .MS-content .items {
  display: block;
  border: 1px solid transparent;
  overflow: hidden;
  position: relative;
  vertical-align: top;



}

#exampleSlider .MS-content .items:hover {
  border: 1px solid #d9dcdd;

}
@media (max-width: 1200px) {
  #exampleSlider .MS-content .item {
    width: 25%;
  }
}
@media (max-width: 992px) {
  #exampleSlider .MS-content .item {
    width: 33.3333%;
  }
}
@media (max-width: 767px) {
  #exampleSlider .MS-content .item {
    width: 50%;
  }
}
#exampleSlider .MS-content .item p {
  font-size: 30px;
  text-align: center;
  line-height: 1;
  vertical-align: middle;
  margin: 0;
  padding: 10px 0;
}
#exampleSlider .MS-content .item img{
  margin-right: auto
}

#exampleSlider .MS-controls button {
  position: absolute;
  border: none;
  background: transparent;
  font-size: 30px;
  outline: 0;
  top: 35px;
}
@media (max-width: 767px) {
  #exampleSlider .MS-controls button {
    display: none;
  }
}
#exampleSlider .MS-controls button:hover {
  cursor: pointer;
}
#exampleSlider .MS-controls .MS-left {
  top: 130px;
  left: 61px;
}
@media (max-width: 992px) {
  #exampleSlider .MS-controls .MS-left {
    left: -2px;
  }
}
#exampleSlider .MS-controls .MS-right {
  top: 130px;
  right: 61px;
}
@media (max-width: 992px) {
  #exampleSlider .MS-controls .MS-right {
    right: -2px;
  }
}

@media (min-width: 960px){
.gl-product-card__details {
    padding: 10px 10px 20px;
}}

.gl-product-card__details {
    padding: 10px;
    overflow: auto;
    clear: both;
}

.gl-product-card__details-top {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: 0 0 10px;
  min-height: 17px;
}

.gl-product-card__name {
  letter-spacing: .5px;
  margin: 0 0 5px;
  max-height: 30px;
  overflow: hidden;
}
.gl-label--medium {
  font-size: 12px;
}

.gl-product-card__category {
  font-size: 12px;
  color: #98989a;
}

.gl-label {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
}

.gl-product-card .gl-price {
  font-size: 12px;
}
.gl-price {
  font-weight: 400;
  font-size: 16px;
  color: #000;
}
.gl-product-card__details-main {
  line-height: normal;
  height: 60px;
}
.gl-product-card__reviews-number {
  font-size: 12px;
  line-height: 1;
  padding-left: 5px;
  color: #98989a;
}
