<h1>Listing orders</h1>
<%= link_to 'New order', new_admin_order_path %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Order</th>
      <th scope="col">Date</th>
      <th scope="col">Total</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
    <%= render current_user.orders %>
</table>
<br>
<%= link_to 'Back', admin_root_path %>
