
    <!-- Hero Section-->
    <section class="hero hero-page gray-bg padding-small">
      <div class="container">
        <div class="row d-flex">
          <div class="col-lg-9 order-2 order-lg-1">
            <h1>About us</h1>
          </div>
          <div class="col-lg-3 text-right order-1 order-lg-2">
            <ul class="breadcrumb justify-content-lg-end">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item active">About us</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- about us-->
    <section class="padding-small">
      <div class="container">
        <div class="row about-item">
          <div class="col-lg-8 col-sm-9">
            <h2>How it all began</h2>
            <p class="text-muted">As am hastily invited settled at limited civilly fortune me. Really spring in extent an by. Judge but built party world. Of so am he remember although required. Bachelor unpacked be advanced at. Confined in declared marianne is vicinity.</p>
          </div>
          <div class="col-lg-4 col-sm-3 d-none d-sm-flex align-items-center">
            <div class="about-icon ml-lg-0"><i class="fa fa-line-chart"></i></div>
          </div>
        </div>
        <div class="row about-item">
          <div class="col-lg-4 col-sm-3 d-none d-sm-flex align-items-center">
            <div class="about-icon mr-lg-0"><i class="fa fa-user-o">                      </i></div>
          </div>
          <div class="col-lg-8 col-sm-9">
            <h2>Who we are</h2>
            <p class="text-muted">As am hastily invited settled at limited civilly fortune me. Really spring in extent an by. Judge but built party world. Of so am he remember although required. Bachelor unpacked be advanced at. Confined in declared marianne is vicinity.</p>
          </div>
        </div>
        <div class="row about-item">
          <div class="col-lg-8 col-sm-9">
            <h2>We care</h2>
            <p class="text-muted">As am hastily invited settled at limited civilly fortune me. Really spring in extent an by. Judge but built party world. Of so am he remember although required. Bachelor unpacked be advanced at. Confined in declared marianne is vicinity.</p>
          </div>
          <div class="col-lg-4 col-sm-3 d-none d-sm-flex align-items-center">
            <div class="about-icon ml-lg-0"><i class="icon icon-heart"></i></div>
          </div>
        </div>
        <div class="row about-item">
          <div class="col-lg-4 col-sm-3 d-none d-sm-flex align-items-center">
            <div class="about-icon mr-lg-0"><i class="icon icon-truck">                      </i></div>
          </div>
          <div class="col-lg-8 col-sm-9">
            <h2>Fast delivery</h2>
            <p class="text-muted">As am hastily invited settled at limited civilly fortune me. Really spring in extent an by. Judge but built party world. Of so am he remember although required. Bachelor unpacked be advanced at. Confined in declared marianne is vicinity.</p>
          </div>
        </div>
        <div class="row about-item">
          <div class="col-lg-8 col-sm-9">
            <h2>Your security and privacy matters</h2>
            <p class="text-muted">As am hastily invited settled at limited civilly fortune me. Really spring in extent an by. Judge but built party world. Of so am he remember although required. Bachelor unpacked be advanced at. Confined in declared marianne is vicinity.</p>
          </div>
          <div class="col-lg-4 col-sm-3 d-none d-sm-flex align-items-center">
            <div class="about-icon ml-lg-0"><i class="icon icon-secure-shield"></i></div>
          </div>
        </div>
      </div>
    </section>
    <!-- Divider Section-->
    <section style="background: url(https://d19m59y37dris4.cloudfront.net/hub/1-4-2/img/divider-bg.jpg);" class="divider">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <p>Old Collection                  </p>
            <h2 class="h1 text-uppercase no-margin">Huge Sales</h2>
            <p>At our outlet stores</p><a href="#" class="btn btn-template wide shop-now">Shop Now<i class="icon-bag"></i></a>
          </div>
        </div>
      </div>
    </section>
    <section class="padding-small">
      <div class="container">
        <header>
          <h2 class="h1">Our team</h2>
          <p class="lead text-muted">This is the lead paragraph of the article. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget.</p>
        </header>
        <div class="row team">
          <div class="col-md-3 col-6">
            <div class="team-member">
              <div class="image"><img src="https://d19m59y37dris4.cloudfront.net/hub/1-4-2/img/person-1.jpg" alt="" class="img-fluid rounded-circle"></div>
              <h3 class="h5"><a href="#">Han Solo</a></h3>
              <p class="role">founder</p>
              <div class="social"><a href="#" class="external facebook"><i class="fa fa-facebook"></i></a><a href="#" class="external gplus"><i class="fa fa-google-plus"></i></a><a href="#" class="external twitter"><i class="fa fa-twitter"></i></a><a href="#" class="email"><i class="fa fa-envelope"></i></a></div>
              <div class="text">
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
              </div>
            </div>
            <!-- /.team-member            -->
          </div>
          <div class="col-md-3 col-6">
            <div class="team-member">
              <div class="image"><img src="https://d19m59y37dris4.cloudfront.net/hub/1-4-2/img/person-2.jpg" alt="" class="img-fluid rounded-circle"></div>
              <h3 class="h5"><a href="#">Luke Skywalker</a></h3>
              <p class="role">CTO</p>
              <div class="social"><a href="#" class="external facebook"><i class="fa fa-facebook"></i></a><a href="#" class="external gplus"><i class="fa fa-google-plus"></i></a><a href="#" class="external twitter"><i class="fa fa-twitter"></i></a><a href="#" class="email"><i class="fa fa-envelope"></i></a></div>
              <div class="text">
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
              </div>
            </div>
            <!-- /.team-member            -->
          </div>
          <div class="col-md-3 col-6">
            <div class="team-member">
              <div class="image"><img src="https://d19m59y37dris4.cloudfront.net/hub/1-4-2/img/person-3.jpg" alt="" class="img-fluid rounded-circle"></div>
              <h3 class="h5"><a href="#">Princess Leia</a></h3>
              <p class="role">Team Leader</p>
              <div class="social"><a href="#" class="external facebook"><i class="fa fa-facebook"></i></a><a href="#" class="external gplus"><i class="fa fa-google-plus"></i></a><a href="#" class="external twitter"><i class="fa fa-twitter"></i></a><a href="#" class="email"><i class="fa fa-envelope"></i></a></div>
              <div class="text">
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
              </div>
            </div>
            <!-- /.team-member            -->
          </div>
          <div class="col-md-3 col-6">
            <div class="team-member">
              <div class="image"><img src="https://d19m59y37dris4.cloudfront.net/hub/1-4-2/img/person-4.jpg" alt="" class="img-fluid rounded-circle"></div>
              <h3 class="h5"><a href="#">Jabba Hut</a></h3>
              <p class="role">Lead developer</p>
              <div class="social"><a href="#" class="external facebook"><i class="fa fa-facebook"></i></a><a href="#" class="external gplus"><i class="fa fa-google-plus"></i></a><a href="#" class="external twitter"><i class="fa fa-twitter"></i></a><a href="#" class="email"><i class="fa fa-envelope"></i></a></div>
              <div class="text">
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
              </div>
            </div>
            <!-- /.team-member            -->
          </div>
        </div>
      </div>
    </section>
