<div class="modal-body">
<div class="ribbon-primary text-uppercase">Sale</div>
<div class="row d-flex align-items-center">
  <div class="image col-lg-5"><img src="https://d19m59y37dris4.cloudfront.net/hub/1-4-2/img/shirt.png" alt="..." class="img-fluid d-block"></div>
  <div class="details col-lg-7">
    <h2>Lose Oversized Shirt</h2>
    <ul class="price list-inline">
      <li class="list-inline-item current">$65.00</li>
      <li class="list-inline-item original">$90.00</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
    <div class="d-flex align-items-center">
      <div class="quantity d-flex align-items-center">
        <div class="dec-btn">-</div>
        <input type="text" value="1" class="quantity-no">
        <div class="inc-btn">+</div>
      </div>
      <select id="size" class="bs-select">
        <option value="small">Small</option>
        <option value="meduim">Medium</option>
        <option value="large">Large</option>
        <option value="x-large">X-Large</option>
      </select>
    </div>
    <ul class="CTAs list-inline">
      <li class="list-inline-item"><a href="#" class="btn btn-template wide"> <i class="fa fa-shopping-cart"></i>Add to Cart</a></li>
      <li class="list-inline-item"><a href="#" class="visit-product active btn btn-template-outlined wide"> <i class="icon-heart"></i>Add to wishlist</a></li>
    </ul>
  </div>
</div>
