<!-- Hero Section-->
<!-- <section class="hero hero-page gray-bg padding-small">
  <div class="container">
    <div class="row d-flex">
      <div class="col-lg-9 order-2 order-lg-1">
        <h1>Shop</h1><p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
      </div>
      <div class="col-lg-3 text-right order-1 order-lg-2">
        <ul class="breadcrumb justify-content-lg-end">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Shop</li>
        </ul>
      </div>
    </div>
  </div>
</section> -->
<main>
  <div class="container">
    <div class="row">
      <!-- Grid -->
      <div class="products-grid col-12 sidebar-none">
        <%= paginate @products %>
        <div class="row">
          <%= render @products %>
        </div>
        <header class="d-flex justify-content-between align-items-start"><span class="visible-items"><%= page_entries_info @products, entry_name: 'item' %></span>
          <select id="sorting" class="bs-select">
            <option value="newest">Newest</option>
            <option value="oldest">Oldest</option>
            <option value="lowest-price">Low Price</option>
            <option value="heigh-price">High Price</option>
          </select>
        </header>
      </div>
      <!-- / Grid End-->
    </div>
  </div>
</main>
<!-- Overview Popup    -->
<div id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade overview">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true"><i class="icon-close"></i></span></button>
      <div class="modal-body">
        <div class="ribbon-primary text-uppercase">Sale</div>
        <div class="row d-flex align-items-center">
          <div class="image col-lg-5"><img src="https://d19m59y37dris4.cloudfront.net/hub/1-4-2/img/shirt.png" alt="..." class="img-fluid d-block"></div>
          <div class="details col-lg-7">
            <h2>Lose Oversized Shirt</h2>
            <ul class="price list-inline">
              <li class="list-inline-item current">$65.00</li>
              <li class="list-inline-item original">$90.00</li>
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
            <div class="d-flex align-items-center">
              <div class="quantity d-flex align-items-center">
                <div class="dec-btn">-</div>
                <input type="text" value="1" class="quantity-no">
                <div class="inc-btn">+</div>
              </div>
              <select id="size" class="bs-select">
                <option value="small">Small</option>
                <option value="meduim">Medium</option>
                <option value="large">Large</option>
                <option value="x-large">X-Large</option>
              </select>
            </div>
            <ul class="CTAs list-inline">
              <li class="list-inline-item"><a href="#" class="btn btn-template wide"> <i class="fa fa-shopping-cart"></i>Add to Cart</a></li>
              <li class="list-inline-item"><a href="#" class="visit-product active btn btn-template-outlined wide"> <i class="icon-heart"></i>Add to wishlist</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
