<% if current_user.try(:admin?) %>
<h1>Sản Phẩm Mới</h1>


<%= render 'form' %>

<%= link_to 'Trở lại', products_path %>
<% else %>
<h1 style="text-align: center;">Page Not Found</h1>
<h3 style="text-align: center;">The page you requested does not exist</h1>
<% end %>
