<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="google-site-verification" content="cN63dlJW6nVEotJKc7-BXcVLhTef2HaK9DoD_hkltro" />
<title>adidas Official Website | adidas VN</title>
<meta name="keywords" content="HTML, CSS, XML, XHTML, JavaScript">
<meta name="description" content="Free Web tutorials on HTML and CSS">
<meta name="author" content="John Doe">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/foundation.css"> <!-- css chung -->
<link rel="stylesheet" href="/css/menu.css"> <!-- css cho menu -->
<link rel="stylesheet" href="/css/animatedSearchBar.css"> <!-- css cho thanh tìm kiếm linh hoạt-->
<link rel="stylesheet" href="/css/wallpaperWrapper.css"> <!-- css cho slideshow -->
<link rel="stylesheet" href="/css/slidenav.css"> <!-- css cho slidenav -->
<link rel="stylesheet" href="/css/text-center.css"> <!-- ad -->
<link rel="stylesheet" href="/css/login/login.css"> <!-- css đăng nhập -->
<link rel="stylesheet" href="/css/container.css"> <!-- css cho footer -->
<link rel="stylesheet" href="/css/footerBottom.css"> <!-- css cho footer -->
<link rel="stylesheet" href="/css/footer.css"> <!-- css cho footer -->
<link rel="icon" href="/images/0/img/adidas-favicon.ico" />
</head>
<script src="/js/include.js"></script>
<meta name="google-site-verification" content="cN63dlJW6nVEotJKc7-BXcVLhTef2HaK9DoD_hkltro" google-site-verification=zg-DelaMBPmAiD6BMGgziXUy4W4MqVGHyG1ZCF9HAFo/>
<body>
<div id="topdiv">
<div w3-include-html="/vn/include/menu.php"></div>
</div>
<div id="topdivvv">
</div>
<iframe src="https://a153635.hostedsitemap.com/4067595/sitemap.xml" frameborder="0" width="100%" height="100%"></iframe>
<div w3-include-html="/vn/include/footer.html"></div>
<script>
  includeHTML();
</script>
</body>
</html>
